.dashboard-container {
    text-align: center;
    padding: 20px;
  }
  
  h2 {
    font-size: 24px;
    color: #fdfdfd;
  }
  
  .login-btn {
    background-color: #2123ca;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin: 10px 0;
  }
  
  .pizza-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  
  .pizza-card {
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 220px;
    text-align: center;
  }
  
  .pizza-card img {
    width: 100%;
    height: 150px;
    border-radius: 8px;
  }
  
  .pizza-card h4 {
    font-size: 18px;
    margin: 10px 0;
  }
  
  .pizza-card p {
    font-size: 14px;
    color: gray;
  }
  
  .price {
    font-weight: bold;
    font-size: 16px;
    color: green;
  }
  